root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cmd,bat}]
end_of_line = crlf

[*.{cs,csproj,sln,vbproj,fsproj,dbproj,props,targets,config,xml,md,json,csv,tsv,py,ps1,sh,sql,txt,hex,yml,yaml}]
end_of_line = lf

[*.patch]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false
