[submodule "CellAO/Libraries/Source/msgpack-cli"]
	path = CellAO/Libraries/Source/msgpack-cli
	url = https://github.com/subarumike/msgpack-cli.git
	branch = cellao-local-updates
[submodule "CellAO/Libraries/Source/AOtomation/AOtomation.Messaging"]
	path = CellAO/Libraries/Source/AOtomation/AOtomation.Messaging
	url = https://github.com/subarumike/AOtomation.Messaging.git
	branch = cellao-local-updates
